<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>画像生成App</title>
    <style>
        #loading {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <h1>画像生成App</h1>
    <form id="imageForm" method="POST">
        <label for="prompt">どのような画像を生成したいですか:</label>
        <textarea name="prompt" id="prompt" required></textarea>
        <br>
        <label for="size">画像のサイズを選択:</label>
        <select id="size" name="size">
            <option value="1024x1024">1024x1024</option>
            <option value="1792x1024">1792x1024</option>
            <option value="1024x1792">1024x1792</option>
        </select>
        <br>
        <label for="style">画像のスタイルを選択:</label>
        <select id="style" name="style">
            <option value="">スタイルを指定しない</option>
            <option value="real">リアル</option>
            <option value="anime">アニメ</option>
            <option value="abstract">抽象的</option>
            <option value="fantastic">幻想的</option>
            <option value="pixel art">ドット絵</option>
            <option value="SF">SF</option>
            <option value="oilart">油絵</option>
            <option value="watercolor painting">水彩画</option>
        </select>
        <br>
        <button type="submit">画像を生成</button>
    </form>
    <img id="loading" src="../static/loading.gif" alt="Loading...">
    <script>
        document.getElementById('imageForm').addEventListener('submit', function() {
            document.getElementById('loading').style.display = 'block';
        })
    </script>
</body>
</html>